$board-width:450px;
$color1 : #ff314c;
$color2 : #FF3366;
$color3 : #BA265D;

.App {
  height: 100vh;
  text-align: center;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Hangman {
  width: 100%;
  padding: $space-md;
  // max-width: 900px;
  // max-height: 700px;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // background-image: linear-gradient(rgb(0, 131, 102), rgb(9, 87, 63));
  background-image: linear-gradient(to bottom, #2d2e30, #252527);

  .stats {
    // border: 1px solid #00f;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main-logo {
      height: 3rem;
    }

    .lives {
      svg {
        fill: $color2;
        margin-right: .5rem;
        width: 1.6rem;
        height: 1.6rem;
      }

      .empty {
        fill: rgb(194, 194, 194);
      }
    }

    @media screen and (min-width: $screen-sm) {
      .main-logo {
        height: 4rem;
      }

      .lives {
        svg {
          margin-right: 1rem;
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
  }


  &-board {
    padding-left: $space-md;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;

    .word {
      height: 45px;
      color: #fff;
      text-shadow: 0 0 .3rem rgba(0, 0, 0, 0.2),
        0 .4rem .5rem rgba(0, 0, 0, 0.2);
      font-size: 3rem;
      font-weight: 400;
      // border: 1px solid #00f;

      display: flex;
      justify-content: center;
      align-items: center;


      span {
        border-bottom: 2px solid $color3;
        height: 100%;
        max-height: 50px;
        width: 32px;
        content: "";
        display: inline-block;
      }

      span:not(:last-child) {
        margin-right: 1rem;
      }

      @media screen and (min-width: $screen-sm) {
        height: 55px;
        font-size: 3.5rem;

        span {
          width: 36px;
        }
      }
    }

    .word:not(:last-child) {
      margin-right: 3rem;
    }

    @media screen and (min-width: $screen-sm) {
      justify-content: center;

      .word:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }

  &-btns {
    // border: 1px solid #00f;
    display: inline-block;
    max-width: 600px;
    width: 100%;
    margin: 0;

    button {
      border: none;
      font-family: inherit;
      font-size: 1.6rem;
      cursor: pointer;
      width: 35px;
      height: 30px;
      margin: $space-sm;
      letter-spacing: 1px;
      outline: none;
      background: $color1;
      background-image: linear-gradient(to top, #686164, #3d3d41);
      color: #ffffff;
      box-shadow: 0 6px rgb(165, 35, 83);
      border-radius: 5px;
      padding-top: 4px;

      @media screen and (min-width: $screen-xs) {
        width: 40px;
        height: 35px;
      }

      @media screen and (min-width: $screen-sm) {
        font-size: 1.8rem;
        width: 60px;
        height: 50px;
      }

    }


    button:hover {
      background-color: $color1;
    }

    button:disabled {
      transform: translateY(4px);
      background: $color1;
      background-image: linear-gradient(to top, #5e2d35, #FF3366);
      color: #fff;
      box-shadow: 0 3px #BA265D;
    }

    @media screen and (min-width: $screen-xs) {
      margin: 0 auto $space-lg;
    }
  }
}